This file is to convert all-MEG-pkl (`data/MEG_DK_Atlas/Autism_MEG_all.pkl`) data to mat data.

In [1]:
import sys
sys.path.append("../mypkg")

In [2]:
import numpy, scipy.io
from utils.misc import load_pkl, save_pkl
from constants import DATA_ROOT
import pandas as pd

In [3]:
# data path
all_MEG_data_path = DATA_ROOT/"MEG_DK_Atlas/Autism_MEG_all.pkl"
data_info_path = DATA_ROOT/'Autism_Demopoulos_DiagnosisAgeSex.csv'

In [9]:
data_info = pd.read_csv(data_info_path)
data_info

     ID  Diagnosis        Age Sex
0     2          1  12.416667   M
1     3          0  12.583333   F
2     4          0  11.000000   F
3     5          0  12.333333   M
4     6          1  16.166666   F
..  ...        ...        ...  ..
73  195          0   8.416667   F
74  204          0  11.166667   F
75  205          0  13.083333   M
76  223          1  14.666667   M
77  225          0   8.000000   F

[78 rows x 4 columns]

In [5]:
all_MEG_data = load_pkl(all_MEG_data_path)

Load file /data/rajlab1/user_data/jin/MyResearch/SBI-SGM-Autism/notebooks/../mypkg/../data/MEG_DK_Atlas/Autism_MEG_all.pkl

In [12]:
save_all_MEG_data = {f"data_{ix+1}":all_MEG_data[ix, :, :] for ix in range(78)}

In [13]:
scipy.io.savemat(DATA_ROOT/'Autism_MEG_all.mat', mdict=save_all_MEG_data)